.bottom-default-widget {
	min-height: 100px;

	.widget-text {
		max-height: 100px;
	}
	.widget-content {
		position: relative;
		.has-background {
			background: rgba($body-bg, 0.7);
		}
		.row {
			padding: $padding-xs-horizontal $padding-large-horizontal;
			text-align: right;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;

			@include respond-to(smartphones-tablets) {
				position: relative !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
		.btn {
			max-width: 100%;
		}
	}
}