.head-slider-widget {
	@extend .head-default-widget;
	min-height: $headCarouselHeight;
	margin-bottom: $navbar-margin-bottom; // need for sticky

	@include respond-to(smartphones-tablets) {
		min-height: $headCarouselHeight * 0.5 !important;
	}

	.header-carousel {
		/*position: absolute;
		left: 0;
		right: 0;
		top: 0;*/
		// Carousel in header
		.carousel {
			//height: $headCarouselHeight;
			@include respond-to(smartphones-tablets) {
			//	height: $headCarouselHeight * 0.5 !important;
			}

			.carousel-indicators {
				display: none;
			}
			.carousel-control {
				&.left, &.right {
					cursor: pointer;
					background-image: none !important;
					z-index: 100;
				}
			}

			.item,
			.active,
			.carousel-inner {
				height: 100%;
			}
			/*.carousel-inner {
				overflow: visible;
			}*/

			/* Background images are set within the HTML using inline CSS, not here */
			.fill {
				width: 100%;
				height: 100%;
				max-height: none;
				//max-height: $headCarouselHeight;
				background-position: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
				-o-background-size: cover;

				@include respond-to(smartphones-tablets) {
					//min-height: $headCarouselHeight * 0.5 !important;
					//max-height: $headCarouselHeight * 0.5 !important;
				}
			}
		}
	}
	.text{
		margin:$logoWidth + 50px auto 0;
		text-align: center;
		font-size: 26px;
		display: table;
		padding: 15px;
		background: rgba($body-bg,0.5);
	}
	.h1{
		margin-top: 0;

		@include respond-to(smartphones-tablets) {
			margin-bottom: 10px !important;
		}
	}
}
