#slideout {
	position: fixed;
	left: 0;
	width: 55px;
	height: 200px;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	z-index: 1010;

	top: 50%;
	margin-top: -100px;


	@include make-form();

	form.biznestream-form>ul>li[data-type="textblock"] .form_input,
	form.biznestream-form>ul>li .form_label,
	form.biznestream-form>ul>li .form_input {
		width: 100%;
		margin-left: 0;
	}

	form.biznestream-form>ul>li .form_input label {
		color: #fff !important;
	}
	.img-inner:hover {
		opacity: 0.8;
	}
	form {
		button {
			font-size: 13px;
			text-transform: none;
			width: 49%;

			&:hover {
				background-color: #00B8E3;
			}
		}
		button[name='submit'] {
			border: 1px solid transparent;
			display: block;
			font-size: 13px;
			font-weight: 400;
			line-height: 1.42857;
			vertical-align: middle;
			white-space: nowrap;
			background-color: #009fe3;
			margin: 15px auto;
			width: 100%;
		}
	}
}
#slideout .tooltip-inner {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#slideout_inner {
	position: fixed;
	top: 250px;
	left: -250px;
	cursor: auto;
	background: #565e65;
	width: 250px;
	padding: 20px 5px;
	margin: auto;
	min-height: 40px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: left;
}
#slideout_inner .form_label, #slideout_inner .form_input {
	width: 100%;
	font-size: 12px;
	text-align: left;
	margin-bottom: 5px;
	color: #fff;
}
#slideout_inner {
	top: 50%;
	margin-top: -100px;

	form.biznestream-form ul {
		padding: 0 20px 0 15px;
	}
}
#slideout_inner .form_input{
	color: #000;
	position: relative;
}
#slideout_inner .form_input label{
	color: #fff;
}
#slideout_inner .form label.error {
	font-size: 11px;
	font-weight: 400;
	padding-left: 0 !important;
	bottom: -48%;
	margin: 0;
}

#slideout_inner .form ul li[data-type="textarea"] label.error{
	bottom: -16%;
}
#slideout_inner .form_element {
	margin-bottom: 5px;
}
#slideout_inner .form .text_block {
	color: #fff;
}
#slideout_inner h3 {
	margin-bottom: 10px;
	text-align: left;
	padding:0 15px;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}
#slideout_inner .form label { font-weight: 100;}
#slideout_inner .form .group {margin-bottom:10px}
#slideout_inner .form{
	color: #fff;
	text-align: center;
}

#slideout_inner {
	min-height: 200px;
	overflow: hidden;

	.form textarea {
		max-height: 170px;
		resize: none;
	}
	.form ul li[data-type="uploader"] input{
		background: none;
		border: none;
		color: #fff;
	}
	.form input,
	.form select,
	.form textarea {
		/*	width: 100%;*/
		padding: 5px;
		border: 1px solid #DDD;
		background: #F7F7F7;
		box-sizing: border-box;
	}
	.over {
		height: 450px;
		overflow-x: hidden;
		width: 264px;
		padding-right: 20px;
	}
	ul li.form_element .form_label img{
		min-width: 0;
		max-width: 40px;
		margin:0 10px 0 0;
		float: none;
	}
	.form_input input.error,
	.form_input textarea.error,
	.form_input select.error {
		border: 2px solid #FF6800;
		background: #fff;
	}
}

.active-out {
	left: 250px !important;

	#slideout_inner {
		left: 0;
	}
}
#ui-datepicker-div {
	z-index: 1200 !important;
}