.top-multiple-widget {
	@extend .well;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 0;
	margin-bottom: 0;

	$buttonWidth: 20px;
	$buttonHeight: 80px;

	.img-overlay-container {
		.main-btn {
			margin: 0;
			.btn {
				min-width: 90%;
				width: 90%;
			}
		}
	}

	.widget-text {
		overflow: hidden;
		padding: 0 10px;
		max-height: 80px;
	}

	.slick-slider {
		.image-block {
			width: 150px;
			margin: auto;
			margin-bottom: 20px;

			.img-circle {
				width: 150px;
				height: 150px;
			}
			a {
				text-decoration: none;

			}
		}
		.slick-prev {
			left: 20px;
		}
		.slick-next {
			right: 20px;
		}
		.slick-prev, .slick-next {
			width: $buttonWidth;
			height: $buttonHeight;
			top: 45px;
		}
		.slick-disabled {
			&.slick-prev, &.slick-next {
				&:after, &:before {
					background-color: $nav-disabled-link-color;
					opacity: .25;
				}
			}
		}
	}

	$skewAngle: 155deg;
	$skewAngleRight: 180deg - $skewAngle;
	$arrowWidth: 1px;
	$arrowLength: $buttonHeight / 2;
	.slick-prev {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: $buttonWidth / 2;
			height: $arrowLength;
			width: $arrowWidth;
			background: $link-color;
			-webkit-transform: skew($skewAngle, 0deg);
			-moz-transform: skew($skewAngle, 0deg);
			-ms-transform: skew($skewAngle, 0deg);
			-o-transform: skew($skewAngle, 0deg);
			transform: skew($skewAngle, 0deg);
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: $buttonWidth / 2;
			height: $arrowLength;
			width: $arrowWidth;
			background: $link-color;
			-webkit-transform: skew(-$skewAngle, 0deg);
			-moz-transform: skew(-$skewAngle, 0deg);
			-ms-transform: skew(-$skewAngle, 0deg);
			-o-transform: skew(-$skewAngle, 0deg);
			transform: skew(-$skewAngle, 0deg);
		}
	}
	.slick-next {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 10px;
			height: $arrowLength;
			width: $arrowWidth;
			background: $link-color;
			-webkit-transform: skew($skewAngleRight, 0deg);
			-moz-transform: skew($skewAngleRight, 0deg);
			-ms-transform: skew($skewAngleRight, 0deg);
			-o-transform: skew($skewAngleRight, 0deg);
			transform: skew($skewAngleRight, 0deg);
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 10px;
			height: $arrowLength;
			width: $arrowWidth;
			background: $link-color;
			-webkit-transform: skew(-$skewAngleRight, 0deg);
			-moz-transform: skew(-$skewAngleRight, 0deg);
			-ms-transform: skew(-$skewAngleRight, 0deg);
			-o-transform: skew(-$skewAngleRight, 0deg);
			transform: skew(-$skewAngleRight, 0deg);
		}
	}

	h3 {
		margin-top: 0px;
	}
}