.widget-top-navigation {
	width: 150px;
	float: left;
}
.top-default-widget{
	.text-info{
		position: absolute;
		width: 100%;
		bottom: 2%;
		.info{
			font-size: 18px;
			font-weight: 700;
		}
		.float-button{
			position: absolute;
			bottom: 0;
			right: 0;
			.main-btn{
				text-align: center;
			}
		}
	}
	@media screen and (max-width: $screen-sm) {
		.text-info{
			position: inherit;
			.float-button{
				position: inherit;
			}
		}
	}
	.image-crop{
		position: relative;
	}
}