.page-wrapper {

	@include respond-to(smartphones-tablets) {
		overflow: hidden;
		padding-top: 54px; // begin content after main menu
	}
}
.img-center {
	text-align: center;
	margin: $line-height-computed auto;
}
.no-float{
	float:none;
}

@mixin inline-item() {
	float: none !important;
	display: inline-block;
	vertical-align: top;
}
@function set-relative-color($color, $color1, $color2) {
	@if (lightness($color) > 50) {
		@return $color1; // Lighter backgorund, return dark color
	} @else {
		@return $color2; // Darker background, return light color
	}
}

.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	display: block;
}

/*Styles Image overlay with icon and button*/
.thumbnails-gallery {
	text-align: center;
	position: relative;
	ul li a{
		text-decoration: none;
	}
}
.img-width-100 {
	width: 100%;
}
.img-overlay {
	position: relative;
	display: block;
	outline: none !important;
	overflow: hidden;
	text-decoration: none;
	&:before {
		background-color: rgba($btn-default-bg, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: " ";
		z-index: 1;
		opacity: 0;
		display: block;
		-webkit-transition: opacity ease .25s;
		transition: opacity ease .25s;
	}

	&:hover:before, &.active:before {
		opacity: 1;
		text-decoration: none;
	}
	&-container {
		&:before {
			display: none !important;
		}
		.overlay {
			background-color: rgba($btn-default-bg, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			margin: 0;
			-webkit-transition: opacity ease .25s;
			transition: opacity ease .25s;
			.btn {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 6;
				transform: translate(-50%, -50%);
			}
		}
		&:hover .overlay {
			opacity: 1;
		}
	}
	&-icon {
		&:after {
			content: "\e003";
			position: absolute;
			color: $text-color;
			font: 15px 'Glyphicons Halflings';
			left: 0;
			top: 50%;
			text-align: center;
			width: 100%;
			margin-top: -$marginTop;
			outline: none !important;
			z-index: 5;
			display: block;
			opacity: 0;
			-webkit-transition: opacity ease .25s;
			transition: opacity ease .25s;
			text-decoration: none;
		}
		&:hover:after {
			opacity: 1;
			text-decoration: none;
		}
	}
}
.list-small-images {
	@include make-row();
	margin: 0;
	font-size: 0;
	text-align: center;
	& > li {
		@include make-xs-column(2);
		@include make-sm-column(2);
		@include make-md-column(2);
		@include make-lg-column(1);
		padding: 0 !important;
		float: none !important;
		display:inline-block;
		vertical-align: middle;

		img {
			margin:0 auto;
		}
	}
}
/*Styles for default buttons*/
.main-btn {
	width:100%;
	text-align: center;
	margin: 20px 0 10px;

	.btn {
		@extend .btn-primary;

		margin: 0 auto;
		min-width: 250px;
		display: inline-block;
		border: none;
		white-space: normal;
	}

	span {
		display: block;
		overflow: hidden;
		max-height: 40px;
	}
	@media screen and (max-width: $screen-md){
		.btn-default {
			min-width: 200px;
		}
	}

	@include respond-to(smartphones-tablets) {
		background-color: transparent !important;
		opacity: 1;
	}
}

/*--------------------------*/
/*Styles to carousel section*/
.carousel-block {
	@include clearfix;
	position: static;
	left: 0;
	margin: 0 32px;
	min-height: 240px;
	h3{
		text-align: left;
	}
	.main-btn {
		max-width: 300px;
		position: absolute;
		bottom: 20px;
		text-align: left;
	}

	img{
		float: right;
		margin-left: 40px;
	}
	@media screen and (max-width: 600px) {
		img{
			float: none;
			margin: 0 auto;
		}
		.text {
			padding-bottom: 30px;
			color:$carousel-text-shadow;
		}
		.main-btn {
			position: relative;
		}
	}
}
/*---------------------------------------*/
.section{
	@include clearfix;
	margin-bottom: $line-height-computed;
	position: relative;
}
.no-padding-right{
	padding-right: 0;
}

/*Style for default text*/
.text{
	text-align: justify;
}

// Modal galley
.mfp-figure {
	&:after {
		background: $body-bg;
	}
}
//form
.form_label{
	img{
		float: right;
	}
	@media screen and (max-width: $screen-md){
		img {
			float: inherit;
			padding: 0 $padding-small-horizontal $padding-xs-horizontal 0;
		}
	}
}
.form_input{
	.form_radio label,.form_checkbox label{
		vertical-align: top;
	}
}

.info-block{
	padding-bottom: $padding-large-horizontal + 10px;
	margin: 0 18px;

	@media screen and (max-width: $screen-lg){
		.main-btn {
			position: relative;
		}
	}
}

.input-group.input-group-transparent {
	position: relative;
	.input-group-addon {
		background: transparent;
		border: 0 none;
		padding-left: 2px;
		padding-right: 2px;
	}

	.onclick-inputs {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;
		bottom: 0;
	}
}

.widget {
	img {
		width: 100%;
		margin: auto;
	}
}

// carousel
.carousel-control {
	cursor: pointer !important;
	&:hover {
		color: $link-color;
	}
}

// for scrolling
.nano.has-scrollbar {
	.nano-content {
		padding-right: 17px;
	}
}

.widget-container {
	padding-top: 20px;

	.widget {
		margin: 0 0 50px;

		h3 {
			text-align: left;
		}
	}
}

.pswp {
	.pswp__button--arrow--left, .pswp__button--arrow--right {
		top: 45px;
		bottom: 0;
		margin-top: 0;
		height: 100%;

		&:before {
			top: 50%;
			margin-top: -60px;
		}
	}
}

.bz-loading-container {
	position: relative;
	.bz-loading-overlay {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($body-bg,$modal-backdrop-opacity);
	}
}


.global-loading {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 50px auto;
	div{
		width:100px;
		height:100px;
		border-radius:100%;
		position:absolute;
		border: 1px solid $brand-primary;
		animation: up 1s;
		animation-iteration-count: infinite;
		transition:2s;
		border-bottom:none;
		border-right:none;
		animation-timing-function:linear;
		left:0;
		top:0;

	}

	@keyframes up{
		from{transform:rotate(0deg); }
		50%{transform:rotate(180deg);}
		100%{transform:rotate(360deg);}
	}
	.img2{
		width:90px;
		height:90px;
		left: 5px;
		top: 5px;
		animation-delay:.2s;
		z-index: 2;
	}
	.img3{
		width:80px;
		height:80px;
		left: 10px;
		top: 10px;
		animation-delay:.4s;
		z-index: 3;
	}
	.img4{
		width:70px;
		height:70px;
		left: 15px;
		top: 15px;
		animation-delay:.6s;
		z-index: 4;
	}
	.img5{
		width:60px;
		height:60px;
		left: 20px;
		top: 20px;
		animation-delay:.8s;
		z-index: 5;
	}
}