footer {
	.navbar {
		margin: 0;
		// remove bottom line and radius (because this is end of page)
		border-bottom: 0 none;
		border-radius: 0;
	}
	.nav.navbar-nav {
		li {
			b.caret {
				display: none;
			}
		}
	}

	@include respond-to(smartphones-tablets) {
		.navbar-collapse {
			padding: 0;
		}
	}
	.menu-domains {
		border-bottom: 1px solid $navbar-default-border;
		float: none;
		margin-right: 0px;
		padding-bottom: 10px;

		li a {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.widget-menu {
		a {
			color: $navbar-inverse-bg;
			background-color: $navbar-default-color;
			padding: 10px 15px;
			display: block;
			font-size: 115%;

			p {
				margin: 0;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	.plus {
		display: none !important;
	}
}
