// Main menu
.navbar-container {
	.navbar {
		min-height: 45px;
	}
	.navbar-brand {
		display: inline-block;
		height: auto;
		padding-left: 30px;
		padding-bottom: 5px;
		float: none;
		img {
			max-width: $logoWidth - 15px;
			max-height: $logoHeight;
		}
	}
	h1 button[aria-expanded='true']:checked {
		display: none;
	}
	.navbar-header {
		width: 25%;
		text-align: center;

		@include respond-to(smartphones-tablets) {
			width: 100% !important;
			text-align: left !important;
		}
	}
	.container > .navbar-header {
		margin: 0;
	}

	.dropdown-menu {
		padding: 0;
		list-style: none !important;
		list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);

		li {
			position: relative;
			list-style-type: none;
			list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
			clear: both;
			@include respond-to(smartphones-tablets) {
				overflow: hidden;
			}

			& > a {
				padding: 5px 10px;
				float: left;
				width: 100%;
			}

			&.active > a,
			a:hover,
			a:focus {
				text-decoration: none;
				background-color: $navbar-default-bg;
				color: $navbar-default-link-hover-color;
			}
		}
	}

	.navbar-toggle {
		//background-color: rgba($navbar-default-toggle-hover-bg, .75);
		background-color: rgba($brand-primary, .75);

		&:hover, &:focus {
			background-color: $brand-primary;
		}
	}
	.navbar-collapse {
		padding: 0 0 0 25%;
		overflow: hidden;
		background: $navbar-default-bg;
		& > div {
			float: right;
			width: 100%;
			margin-left: -($logoWidth + $navbar-padding-horizontal);
		}
	}
	.navbar-nav {
		float: none;
		margin-bottom: 0;
		& > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		li:hover > div > .dropdown-menu {
			display: block;
			margin-top: 0;
			margin-left: 60px;
		}
		& > li:hover > div > .dropdown-menu {
			margin-left: 0px;
		}
	}
	.navbar {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: $zindex-navbar !important;
		background: transparent;
		border: none;
		height: auto !important; // need for sticky
		margin-bottom: 0; // need for sticky
		box-shadow: none;

		.container {
			padding: 0;
			.top-panel {
				background: $navbar-inverse-bg;
				.widget-menu {
					text-align: right;
					font-size: $font-size-base - 2;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 100%;

					p {
						margin: 0;
					}
				}
			}
		}
	}
	.navbar.navbar-fixed-top {
		@include slideInDown(
			$duration: 250ms,
			$delay: 0,
			$function: ease,
			$fill: both
		);
		position: fixed;
		background: $navbar-default-bg;
		box-shadow: 0 0 5px rgba(0, 0, 0, .5);
		.container {
			background: transparent;
			border: none;
			.top-panel {
				display: none;
			}
			.navbar-brand {
				padding-top: 5px;
				padding-bottom: 0;
				img {
					transition: width 4s;
					max-width: 150px;
				}
			}
			.navbar-collapse {
				padding-top: 0;
			}
			.navbar-toggle {
				margin: 10px 15px;
			}
		}
		h1 {
			display: none;
		}
	}
	@include respond-to(smartphones-tablets) {
		.navbar {
			@include slideInDown(
				$duration: 250ms,
				$delay: 0,
				$function: ease,
				$fill: both
			);
			position: fixed !important;
			background: $navbar-default-bg;
			box-shadow: 0 0 5px rgba(0, 0, 0, .5);
			.container {
				background: transparent;
				border: none;
				.top-panel {
					display: none;
				}
				.navbar-brand {
					padding-top: 5px;
					padding-bottom: 0;
					img {
						transition: width 4s;
						max-width: 150px;
					}
				}
				.navbar-collapse {
					padding-top: 0;
				}
				.navbar-toggle {
					margin: 10px 15px;
				}
			}
			h1 {
				display: none;
			}
		}
		li.dropdown {
			position: relative;
		}
		.dropdown-menu > li > a, .dropdown-menu .dropdown-header {
			padding: 10px 15px 10px 25px !important;
		}
		.plus {
			float: right;
			padding: 10px 15px;
			position: absolute;
			right: 0;
			top: 0;
			color: $btn-primary-color;
			background: $brand-primary;
		}
	}

	.widget-menu {
		a {
			color: $navbar-default-color;
			padding: 5px $navbar-padding-horizontal;
			display: block;
			float: right;

			&:hover {
				background-color: $navbar-default-color;
				text-decoration: none;
				color: $navbar-inverse-bg;
			}
		}
	}
}

// Domains menu
.menu-domains {
	margin-left: 0 !important;
	margin-bottom: 0;
	float: left;
	li {
		font-size: $font-size-base - 2;
		padding: 0;

		&:hover {
			a {
				background-color: $navbar-inverse-color;
				text-decoration: none;
				color: $navbar-inverse-bg;
			}
		}

		a {
			padding: 5px $navbar-padding-horizontal 5px;
			display: block;
			color: $navbar-inverse-color;
		}
	}
}

@include respond-to(smartphones-tablets) {
	.navbar-header {
		width: 100%;
	}
	.top-panel {
		display: none;
	}
	.dropdown-menu li.open >div > .dropdown-menu {
		margin-left: 20px !important;
	}
	.navbar-container .navbar-collapse {
		padding: 0 30px;
		overflow: auto;
		max-height: 340px;
	}
	.dropdown-menu {
		li.open {
			& > a, & > a:hover, & > a:focus {
				background-color: $navbar-default-bg !important;
				color: $navbar-default-color !important;
			}
		}
	}
	.navbar-container .navbar-nav>li.open>div>.dropdown-menu {
		margin-left: 0 !important;
	}
	.navbar-container .navbar-nav {
		li:hover > div > .dropdown-menu {
			display: none !important;
		}
		li.open > div > .dropdown-menu,
		li.open:hover > div > .dropdown-menu {
			display: block !important;
		}
	}
}

.navbar-container .navbar-nav {
	li.open > div > .dropdown-menu,
	li.open:hover > div > .dropdown-menu {
		display: block !important;
	}
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a {

	@include respond-to(smartphones-tablets) {
		&:hover, &:focus {
			background-color: $onclick-color !important;
		}
	}
}

@include respond-to(smartphones-tablets) {
	.navbar {
		.container {
			width:100%;
		}
	}
}

