.default-section {
	position: relative;
	img {
		margin: $marginAuto;
	}
	a.img-centered {
		display: block;
		margin-bottom: $line-height-computed;
	}
	ul, ol {
		list-style-position: inside;
	}

	.section-image {
		@include make-sm-column(6);
		@include make-md-column(4);
		@include make-sm-column-offset(3);
		@include make-md-column-offset(4);
	}
	.section-text {
		@include make-xs-column(12);

		&.without-images {
			width: 100%;
		}
	}

	@include respond-to(smartphones-tablets) {
		.main-btn {
			.btn {
				width: 100% !important;
			}
		}
	}

	@include make-form();
}
