.full-image-section {
  h2 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 37px;
  }

  .text-content {
    font-size: 22px;
    color: #ffffff;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 4%;
  }
  .img-logo-big {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    margin-bottom: 18px;
  }
}