.navi-section{
	@extend .carousel-block;
	.info-block, .section-text{
		text-align: left;
	}
	margin: 0;

	.section-text {
		height: 160px;
		font-size: 115%;
		overflow: hidden;
	}


	@include respond-to(smartphones-tablets) {
		.container {
			padding: 0 !important;

			& > div {
				padding: 20px 15px 0 !important;
				background-size: cover !important;
			}
		}
		img {
			width: 200px !important;
		}

		.info-block {
			h2, .section-text {
				text-align: center;
			}
			.section-text {
				height: auto !important;
			}
			.nano-content {
				position: initial !important;
			}
			.main-btn {
				text-align: center;
				margin: 20px auto;
			}
		}
	}
}